.nimporteQuoi {
    color:  #13293D #006494 #247BA0 #1B98E0 #E8F1F2;
}

body {
    font-family: 'Oswald', sans-serif !important;
}

h1 {
    color: #13293D;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.h1-acceuil{
	color: #1B98E0
}
	

h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
}

h4 {
    margin: 20px;
    color: #13293D;
}

hr {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    overflow: visible;
    /* For IE */
    margin-top: 20px;
    border: none;
    border-top: medium double;
    text-align: center;
    color: #1B98E0;
}

.logo {
    height: 3rem;
    
}

.navbar {
    padding: 0px !important;
    background-color: #1B98E0;
    min-height: 70px !important;
}


.navbar-brand{
    padding-top: 2vh !important;
    padding-bottom: 0px !important;
    height: 70px;
}

.login{
    height: 55px !important;
}

.navbar a.nav-link{
    padding-top: 3vh !important;
    padding-bottom: 0px !important;
    height: 70px;
}

.jumbotron {
    background-color: #13293D;
    border: 2px white !important;
    margin-bottom: 0;
}

.login-jumbotron {
    background-color: #ea9999;
    border: 15px white !important;
    margin: 5rem;
    text-align: center;
}

.nav-link:hover {
    color: white !important;
	text-decoration: underline;
}

.active {
    color: white !important;
    font-weight: bold !important;

}

.nav-link {
    color: #E8F1F2 !important;
    padding: 2rem !important;
    font-size: 20px !important;
}

.navbar-toggler {
    border: #CBE896 !important;
    margin-left: 15px;
}

.btn-secondary {
    color: #CBE896;
    background-color: #ea9999;
    border-color: #CBE896;
}

.btn-primary {
    color: #1B98E0;
    background-color: #13293D;
    border-color: #1B98E0;
    margin-top: 2px;
    margin-right: 43px;
    align-items: right;
}

.btn-primary:hover {
    color: #E8F1F2;
    background-color: #006494;
    border-color: #E8F1F2;
}

.avantages {
    text-align: center;
    padding-top: 2rem;
}

.img-avantage {
    width: 50%;
    height: auto;
}

.footer-calenda {
    background-color: #1B98E0;
    color: #E8F1F2;
    text-align: center;
}

.btn-social {
    padding: 0px !important;
    margin: 0px !important;
}

.titre-calendrier {
    margin-top: 20px !important;
}

.calenda-ref {
    color: #1B98E0 !important;
}

.description-avantage {
    margin-bottom: 4rem;
    margin-left: 2rem;
    text-align: start;
}


.carousel {
    margin: 4rem;
}

.box-propos {
    margin-top: 2rem;
}

.p-propos {
    margin: 4rem !important;
    line-height: 2;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    font-family: 'Oswald', sans-serif !important;
    font-weight: bold;
}

table, th, tr {
    border: 2px solid white !important;
    empty-cells: show;
}

th {
    text-align: center !important;
    background-color: #ea9999;
    color: white !important;
}

table tr th:nth-last-of-type(1), table tr th:nth-last-of-type(7) {
    width: 5% !important;
}

td:nth-last-of-type(1), td:nth-last-of-type(7) {
    color: #A52C2C;
}

form {
    display: inline-block;
}

.btn-prev-next {
    background-color: #ea9999 !important;
    height: auto;
    line-height: auto;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

.legende-calendrier {
    text-align: center;
    margin: 4rem 0px 4rem 0px;
}

.dispo {
    height: auto;
    line-height: auto;
    width: auto;
    border-radius: 10%;
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    color: white !important;
    border: 2px solid white !important;
    text-decoration: none;
    cursor: pointer;
    align-content: center;
    padding: 1rem;
}

.dispo-non {
    background-color: #A52C2C;
}

.dispo-non:hover {
    background-color: white;
    color: #A52C2C !important;
    border: 2px solid #A52C2C !important;
}

.dispo-oui {
    background-color: #9BCCA7;
}

.dispo-oui:hover {
    background-color: white;
    color: #9BCCA7 !important;
    border: 2px solid #9BCCA7 !important;
}

.dispo-pt {
    background-color: #E3B505;
}

.dispo-pt:hover {
    background-color: white;
    color: #E3B505 !important;
    border: 2px solid #E3B505 !important;
}

.table-calendrier {
    margin: 4rem 0px 5rem 0px;
}

.lbl-heure {
    margin-top: 30px;
    color: #CBE896;
}

.booking-form {
    text-align: center;
    padding: 30px;
    padding-right: 30px;
    margin: 3rem;
    background-color: #ea9999;
    border-radius: 10px;
    width: auto;
}

select {
    background-color: #CBE896 !important;
    color: #ea9999;
}

.form-control {
    margin: 30px 0px 0px;
    color: #ea9999;
    background-color: #CBE896;
}

.input-commentaire {
    height: 100px !important;
}

.btn-booking {
    width: 100%;
}

.h1-booking {
    color: #CBE896;
}

.hr-booking {
    color: #CBE896;
}